.haltestelle {
    color: #d7d7d7;
    display: flex;
    flex-direction: column;
    padding: 100px;
    height: 100vh;

    .header {

        h1 {
            text-align: center;
            font-size: 3em;
            margin-bottom: 25px;
            color: #b4a892 !important;
        }

        p {
            text-align: center;
            font-size: 1em;
            color: #b4a892 !important;
        }

        padding: 10px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;

        margin-bottom: 50px;
        width:100%;
        flex-wrap: wrap;
        /* explanation below */
    }

    .game-data{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex: 1 0 50%;


        
    }
}