.sorterElement {
    background-color: #b4a892;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}