.App-Subheader{
    background-color:#b4a892;
    padding-left:40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    h1 {
        font-size: calc(10px + 2vmin);
        
        padding:0;
        margin:0;
    }
}