.App-header {
    height:100px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    width: 100%;
    h2 {
        margin: 0;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;

     
        
        li {
            
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-content: center;
         align-items: flex-start;
            cursor: pointer;
            width: 200px;
            max-width: 12vw !important;
            
            a {
                font-size: 50% !important;
                color: white;
                text-decoration: none;
            }

      

        }


   
  

    }

    .large {
        width:100%;
    }

    .medium { 
        width:100%;
        display:none;

        ul {
            z-index:9000;
            width:50vw;
            height:100vh;
            margin-top:0;
            position: fixed;
            top:0;
            right:0;
            background-color:white;
            height:100%;
            li {
                > div {
                    > div {
                        font-size:20px !important;    
                    }
                }
                height: 60px;
                a{
                    font-size:20px !important;
                    color:black !important;
                }
            }

            #hamburger-in-nav-holder {
                width:55px;
                position: absolute;
                top:35px;
                right:0px;
                cursor: pointer;
                margin-left:auto !important;
            padding-bottom: 20px;
            padding-right: 20px;
            margin-right: 20px;
    
                   &:not(:hover){
                    .hamburger:nth-child(1) {
                        transform: rotate(45deg) translateY(15px);
                        margin: 0;
                        
                    }
        
                    .hamburger:nth-child(2) {
                        width: 0;
                        margin-left: 10px;
                        margin-right: 10px;
                    
                    }
        
                    .hamburger:nth-child(3) {
                        transform: rotate(-45deg) translateY(-15px);
                        margin: 0; 
                        
                    }
                   }
                       
            }
        }

        #hamburger-holder {
            width:55px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
            margin-right: 20px;
            cursor: pointer;
            margin-left:auto !important;

            &:hover .hamburger:nth-child(1) {
                transform: rotate(45deg) translateY(15px);
                margin: 0;
            }

            &:hover .hamburger:nth-child(2) {
                width: 0;
                margin-left: 10px;
                margin-right: 10px;
            }

            &:hover .hamburger:nth-child(3) {
                transform: rotate(-45deg) translateY(-15px);
                margin: 0;
            }
        }

           

        .hamburger {
            width: 35px;
            height: 5px;
            background-color: #B4A892;
            margin: 6px 0;
            transition: all .5s ease-in-out;
        }
    }

}




@media screen and (max-width:800px) {
.App-header {
        .large {
            display:none;
        }
        .medium {
            display: block !important;

            ul {

                
                li {
                    width: 200px;
                    max-width: 12vw !important;
        
                    a {
                        
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}