.curriculumVitae {
  top: 150px;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
  padding-left: 20%;
  padding-right: 20%;

  .unauthorized {
    margin-top: 200px;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #EF6062;
  }

  .historyloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh !important;
  }

  .header {
    display: flex;
    flex-direction: row;
    height: 200px;
    padding-top: 20px;
    border-top: 3px solid #b4a892;
    width: 100%;
    border-bottom: 3px solid #b4a892;
    padding-bottom: 20px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: fadeFromLeftIn 2s forwards;
    position: relative;

    .picture-holder {
      position: relative;
      height: calc(100%);
      .imgAfter {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        font-size: 50px;
        transition: 1s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
        opacity: 0;

        &:hover {
          transform: scale(1.1);
          opacity: 1;
          cursor: pointer;
        }
      }

      img {
        height: calc(100%);
        border-radius: 50%;
        z-index: 2;
        transition: 0.3s all;
        -webkit-filter: grayscale(0.3);
        cursor: pointer;
        box-shadow: 0 0 0 3px rgba(205, 193, 166, 0.8),
          0 0 0 11px rgba(0, 0, 0, 0.2);

        &:hover {
          transform: scale3d(1, 1, 1);
          -webkit-filter: grayscale(0);
          z-index: 100;
        }

        &:hover + .imgAfter {
          transform: translate(-50%, -50%), scale(1.1);
          opacity: 1;
        }
      }
    }

    .meta {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: flex-start;
      padding-left: 50px;
      height: 100%;
      h1 {
        font-size: 30px;
        color: rgb(205, 193, 166) !important;
        margin-top: 0px;
        padding: 0px;
        margin-bottom: 10px;
      }

      h2 {
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 0px;
        color: #8b8372;
      }

      h3 {
        margin-top: 0px;
        padding: 0px;
        color: #8b8372;
      }
    }
  }

  .history {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;

    .history-header {
      padding: 10px;
      border-radius: 3px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      align-items: center;
      position: relative;
      color: #d7d7d7;
      margin-bottom: 50px;
      flex: 1 0 25%;
      flex-wrap: wrap;
      /* explanation below */

      .type-small {
        position: relative;
        font-size: 14px;
        margin: 10px;
        cursor: pointer;
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
        animation: fadeInFromRight 2s forwards;
        &.active {
          border-bottom: 1px solid #b4a892;
          font-weight: bold !important;
        }
      }
    }
  }
}

@keyframes fadeFromLeftIn {
  0% {
    opacity: 0;
    margin-left: -100vw;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    right: -100vw;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}

@media (max-width: 600px) {
  .curriculumVitae {
    padding-left: 0px;
    padding-right: 0px;

    .history {
      padding-left: 20% !important;
      padding-right: 5% !important;

      .history-header {
        margin-right: 20%;
        * {
          margin-left: 0px !important;
          margin-right: 0px !important;
        }
      }
    }
    .header {
      flex-direction: column !important;
      height: 400px !important;
      justify-content: center !important;
      align-content: center !important;
      align-items: center !important;
      width: 60% !important;
      left: 20%;

      .meta {
        margin: 0px !important;
        padding: 0px !important;
        * {
          font-size: 100% !important;
          text-align: center !important;
          width: 100% !important;
        }
      }
      .picture-holder {
        height: 50% !important;
      }
    }
    .history-header {
      justify-content: center !important;
    }
  }
}
