.playerside {
    width:20vw;
    background-color:#FED992;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    border-radius: 3px;
    min-width:300px;
    margin-bottom:50px;

    h3 {
        font-size:20px;
        font-weight: bold;
        width:80%;
        margin-bottom: 0px;
        text-align: center;
        word-wrap: break-word;
    }

    h4 {
        width:80%;
        font-size:12px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        color: crimson;
    }
    .stones {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}