.App-footer {
    background-color: #121212;
    margin-top: 10px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;



    .footer-top {
        color: #8d9093;
        font-size: 24px;
        margin: 0;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

    .footer-mid {
        color: #b4a892 !important;
        font-size: 12px;
        margin: 0;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        padding: 20px;

        a {

            color: #b4929e !important;
            text-decoration: none !important;
        }
    }

    .footer-bottom {
        display: flex;
        flex-direction: row;
        text-align: center;

        .references,
        .contact {
            width: 60vw;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;

            h5 {
                color: grey;
            }

            a {

                color: white !important;
                text-decoration: none !important;
            }
        }
    }

}

@media (min-width:320px) {
    .App-footer {
        min-height: 600px;
        padding-top: 10%;
    }

    .footer-bottom {
        flex-direction: column !important;
    }

    .references,
    .contact {
        flex: 0 0 100%;
        max-height: 50%
    }
}

@media (min-width:480px) {
    .App-footer {
        min-height: 600px;
    }

    .footer-bottom {
        flex-direction: column !important;
    }

    .references,
    .contact {
        flex: 0 0 100%;
        max-height: 50%
    }
}

@media (min-width:600px) {
    .App-footer {
        min-height: 600px;
    }

    .footer-bottom {
        flex-direction: column !important;
    }

    .references,
    .contact {
        flex: 0 0 100%;
        max-height: 50%
    }
}

@media (min-width:801px) {
    .App-footer {
        min-height: 600px;
    }

    .footer-bottom {
        flex-direction: column !important;
    }

    .references,
    .contact {
        flex: 0 0 100%;
        max-height: 50%
    }
}

@media (min-width:1025px) {
    .App-footer {
        min-height: 600px;
    }

    .footer-bottom {
        flex-direction: column !important;
    }

    .references,
    .contact {
        flex: 0 0 100%;
        max-height: 50%
    }
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}