.gameLoader {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
    flex-wrap: wrap;
    color: #b4a892 !important;
}

.gameChooser {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
    flex-wrap: wrap;
    color: #b4a892 !important;

    .game-item {
        
        margin-bottom:25px;
        padding:  10px 5px  10px 25px  !important;
        border: 1px solid grey;
        border-radius:3px;
        box-shadow: 0 8px 17px 2px rgba(255,255,255,0.14), 0 3px 14px 2px rgba(255,255,255,0.12), 0 5px 5px -3px rgba(255,255,255,0.2);

        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-content: center !important;
        align-items: center !important;

      
        .content {

            margin-left:25px !important;
            .header {
                    text-decoration: none !important;
                    color:white !important;
                    margin-bottom:5px !important; 
                 
            }

            .description {
                text-decoration: none !important;
                color:grey !important;

                a {
                    b {
                        cursor: default !important;
                        text-decoration: none !important;
                        color:grey !important;
                    }
                }
            }
        }
    }
}

.gameSearcher {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
    flex-wrap: wrap;
    color: #b4a892 !important;
    
}


    h1 {
        text-align: center;
        font-size: 3em;
        color: #b4a892 !important;
    }



.muehle {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 25px;
    flex-wrap: wrap;
    .header {
        padding: 10px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;

        margin-bottom: 50px;
        width:100%;
        flex-wrap: wrap;
        /* explanation below */
        h1 {
            text-align: center;
            font-size: 3em;
            margin-bottom: 25px;
            color: #b4a892 !important;
        }

        p {
            text-align: center;
            font-size: 1em;
            color: #b4a892 !important;
        }

}
}

.muehle-game {
    border: 10px solid #53331E;
    background-color: #FED992;
    padding: 25px;

    .dot {
        background-color: #1E150F;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        position: relative;
        cursor: pointer;


        &:hover {
            transform: scale(3);
        }

        /* 1st row  */
        &:nth-child(1) {
            top: -12.5px;
            left: -12.5px;
            position: absolute;
        }
        &:nth-child(2) {
            top: -12.5px;
            right: calc(50% - 12.5px);
            position: absolute;
        }
        &:nth-child(3) {
            top: -12.5px;
            right: -12.5px;
            position: absolute;
        }
        /* 2nd row  */
        &:nth-child(4) {
            top: calc(50% - 12.5px);
            left: -12.5px;
            position: absolute;
        }
        &:nth-child(5) {
            top: calc(50% - 12.5px);
            right: -12.5px;
            position: absolute;
        }
        /* 3th row  */
        &:nth-child(6) {
            top: calc(100% - 12.5px);
            left: -12.5px;
            position: absolute;
        }
        &:nth-child(7) {
            top: calc(100% - 12.5px);
            right: calc(50% - 12.5px);
            position: absolute;
        }
        &:nth-child(8) {
            top: calc(100% - 12.5px);
            right: -12.5px;
            position: absolute;
        }
    }
}

.outer-field {
    width: 60vh;
    height: 60vh;
    border: 1px;
    border: 3px solid #4E3B2F;
    position: relative;
    .middle-field {
        position: relative;
        border: 3px solid #4E3B2F;
        top: 10vh;
        left: 10vh;
        width: 40vh;
        height: 40vh;
        position: relative;

        .dot {
            &:nth-child(4) {
                &::after {
                    content: "";
                    margin-left:25px;
                    margin-top:25px;
                    border-color:black;
                }
            }
        }
        
        .center-field {
            border: 3px solid #4E3B2F;
            top: 10vh;
            left: 10vh;
            width: 20vh;
            height: 20vh;
            position: relative;
        }
    }
}